@import "../../../../styles/colors";

.searchResults {
  width: 100%;

  .col {
    background: rgb(255, 252, 245);
    padding: 0;
    box-shadow: 5px 5px 5px darken($blue-dark-overlay, 6);
    border-radius: 5px;
    margin-top: 40px;
    @media(min-width:992px) {
      height: 150px;
    }

    .results {
      @media(min-width:992px) {
        height: 100%;
      }
      padding: 0;

      .name {
        font-size: 1.7em;
        font-weight: 400;
        border-bottom: 1px dashed $grey-dark;
      }

      .date {
        font-size: 1.3em;
        font-weight: 600;
        padding: 25px 15px 20px 0;
        .text {
          margin: 5px 5px 0 0;
          float: right;
        }
      }

      .about{
        margin-top: 5px;
        height: 60px;
        text-align: center;
      }

      .location {
        font-size: 1.1em;
      }

      .detailsBtnCol{
        padding: 0;
        text-align: center;
        margin-top: 15px;

        .detailsBtnLink {
          height: 100%;

          .detailsBtn {
            @media(min-width:992px) {
              padding: 20px 0 20px 0;
            }
            @media(max-width:991px) {
              padding: 5px 0 5px 0;
            }
            width: 100%;
            top: 50%;
            position: relative;
            transform: translateY(-50%);
          }
        }
      }

    }
  }
}