.search {
	margin-right: auto;
	margin-left: auto;
	width: 60vw;
	.title {
		text-align: center;
	}
	.clprompt {
		margin-right: auto;
		margin-left: auto;
		width: 80%;
		.prompt {
			display: inline-block;
			padding-right: 4px;
		}
	}
	
}