.box {
  border: 10px solid #ccc;
  padding-top: 10px;
  padding: 15px;
  margin: 0; 
}

h3 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: normal;
    width: 75%;
    padding-top: 10px;
}

