
#wrapper{
  margin-top: 10px;
}

/** LEFT SIDE OF PAGE */

.left-side {
}

#title{
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 500;
}

#name {
  margin-bottom: 10px;
}

#name .nameLabel{
  display: inline-block;
  margin-right: 5px;
  font-size: 20px;
  font-weight: 600;
}

#name .nameValue{
  display: inline-block;
  font-size: 15px;
  font-weight: 400;
}

#date {
  margin-bottom: 10px;
}

#date .dateLabel {
  display: inline-block;
  margin-right: 5px;
  font-size: 15px;
  font-weight: 600;
}

#date .dateValue {
  display: inline-block;
}

#time {
  margin-bottom: 10px;
}

#time .timeLabel {
  display: inline-block;
  margin-right: 5px;
  font-size: 15px;
  font-weight: 600;
}

#time .timeValue {
  display: inline-block;
}

#description {
  margin-bottom: 10px;
}

#description .descriptionLabel{
  margin-right: 5px;
  font-size: 20px;
  font-weight: 600;
}

#description .descriptionValue {

}

#skills {
  margin-bottom: 10px;
}

#skills .skillsLabel {
  margin-right: 5px;
  font-size: 20px;
  font-weight: 600;
  display: block;
}

#skills .skillsValue {

}

/** RIGHT SIDE OF PAGE */

.right-side {
}

#location {
  margin-bottom: 10px;
}

#location .locationLabel {
  margin-right: 5px;
  font-size: 20px;
  font-weight: 600;
}

#location .locationValue {

}

#map {
  height: 200px;
  width: 300px;
  border: 2px solid black;
}

#button {
  margin: 10px 0 10px 0;
}

#contact{

}

#contact .contactLabel {
  margin-right: 5px;
  font-size: 15px;
  font-weight: 600;
  display: inline-block;
}

#contact .contactValue {
  display: inline-block;
}