@import '../../styles/colors';


.form {
  padding: 50px 0 50px 0;
}

.buttonWrapper {
  background: $white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 5px;
}

.userButton {
  background: linear-gradient($grey-dark 10%, rgba($grey-dark, 0.6) 140%), url("../../../static/images/register-switch-vol.jpg") no-repeat center center;
  background-size: 100% 100%;
  border: 3px solid $blue-primary;
  height: 350px;
  border-radius: 10px;
  font-size: 30px;
  color: $blue-primary;
  padding: 50px;
  margin: 20px 0 20px 0;
  white-space: normal;
}

.userButton:hover {
  color: $blue-accent;
  border: 3px solid $blue-primary;
  background-color: $blue-accent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.orgButton {
  background: linear-gradient(rgba($blue-dark-overlay, 1) 10%, rgba($blue-dark-overlay, 0.6) 140%), url("../../../static/images/register-switch-org.jpg") no-repeat center center;
  background-size: 100% 100%;
  border: 3px solid $grey-dark;
  height: 350px;
  border-radius: 10px;
  font-size: 30px;
  color: $grey-dark;
  padding: 50px;
  margin: 20px 0 20px 0;
  white-space: normal;
}

.orgButton:hover {
  color: $blue-accent;
  border: 3px solid $grey-dark;
  background-color: $blue-accent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}