@import '../../styles/colors';

.searchResults {
  width: 100%;
  margin-top: 20px;
  height: 600px;
  overflow: auto;
  background: $grey-light;
  border-top: 1px solid $grey-dark;

  .col {
    background: rgb(255, 252, 245);
    padding: 0;
    box-shadow: 5px 5px 5px darken($blue-dark-overlay, 6);
    border-radius: 5px;
    margin-top: 25px;
    @media(min-width:992px) {
      height: 125px;
    }

    .results {
      @media(min-width:992px) {
        height: 100%;
      }
      padding: 0;

      .name {
        font-size: 1.7em;
        font-weight: 400;
        border-bottom: 1px dashed $grey-dark;
      }

      .date {
        font-size: 1.3em;
        font-weight: 600;
        .text {
          margin: 5px 5px 0 0;
          float: right;
        }
      }

      .about{
        margin-top: 5px;
        height: 60px;
        text-align: center;
      }

      .location {
        font-size: 1.1em;
      }

      .detailsBtnCol{
        padding: 0;
        text-align: center;
        border-top: 2px solid $grey-dark;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        background: $blue-secondary;
        @media(min-width:992px) {
          height: 100%;
          border-left: 2px solid $grey-dark;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }
        @media(max-width:991px) {
          height: 75px;
        }
        .detailsBtnLink {
          height: 100%;

          .detailsBtn {
            width: 100%;
            padding: 20px 0 20px 0;
            top: 50%;
            position: relative;
            transform: translateY(-50%);
          }
        }
      }

    }
  }
}