@import '../../styles/colors';
// TODO: this button may be used across the app, could be mixin
*:focus {
    outline: none;
    outline-style: none;
}

.login {
  width: 100%;
  height: 200px;
  display: block;

  button {
    background-color: $green-accent;
    width: 150px;
    border: none;
    font-weight: 400;
    float: right;
    margin-top: 30px;
    letter-spacing: 0.02em;

    //TODO; better hover styles

    &:hover {
      background-color: lighten($green-accent, 3);
    }
  }

  //TODO: add email and password icons to input fields
  input {
    border: none;
    background-color: $white;
    border-bottom: 2px solid rgba($blue_primary, 0.2);
    box-shadow: 0 0 0;
    border-radius: 0px;
    padding: 20px 5px;

    &:focus {
      outline: none;
      outline-style: none;
     -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}
