header {
  border-top: 9px solid #073a92;
  font-family: Georgia;
  .top {
    width: 100%;
    margin: 0;
    background: #e6f2ff; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(-90deg, #e6f2ff, #ffffcc); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(-90deg, #e6f2ff, #ffffcc); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(-90deg, #e6f2ff, #ffffcc); /* For Firefox 3.6 to 15 */
    background: linear-gradient(-90deg, #e6f2ff, #ffffcc); /* Standard syntax */
    .topLeftCol {
      margin: 15px 0 15px 0;
        .logo {
          color: black;
          font-size: 40px;
          margin-left: 10px;
        }
        .logoIcon {
          height: 50px;
          margin: 0 5px 0 5px;
        }
    }
    .topRightCol {
      height: 100%;
      margin: 10px 0 10px 0;
      .topRightLinks{
        text-align: center;
        margin-bottom: 5px;
        .link {
          color: black;
          font-size: 20px;
          border-bottom: 1px solid black;
          text-decoration: none;
          margin: 0 5px 0 5px;
        }
      }
      .topRightIcons{
        text-align: center;
        .icon {
          height: 30px;
          margin: 0 3px 0 3px;
        }
      }
    }
  }
  .bottom{
    background: #073a92; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#073a92, #4d79ff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#073a92, #4d79ff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#073a92, #4d79ff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#073a92, #4d79ff); /* Standard syntax */
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    height: 50px;
    color: #ffffff;
    width: 100%;
    clear: both;
    .links {
      top: 50%;
      position: relative;
      transform: translateY(-50%);
      .link {
        color: white;
        text-decoration: none;
        font-size: 25px;
        padding: 0 10px 0 10px;
      }
    }
  }
}


