@import '../../styles/colors.scss';

.viewWrapper {
  padding-bottom: 50px;
  background: $grey-light;
  @media(min-width:768px){
    padding-bottom: 150px;
  }
}

.header {
  text-align: center;
  font-size: 30px;
  padding: 10px 0 10px 0;
}

.backButton {
  float: left;
  color: white;
  background: $blue-primary;
  margin: 10px 0 0 20px;
}

.backButton:hover {
  background: $blue-primary;
}