@import '../../styles/colors.scss';

.viewWrapper {
  background: $grey-light;
}

.header {
  text-align: center;
  font-size: 30px;
  padding: 10px 0 10px 0;
}

.backButton {
  float: left;
  color: white;
  background: $blue-primary;
  margin: 10px 0 0 20px;
}